#head{
    
    background-image: url(/images/coffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0% 5%;
    height: 750px;
}
.btn.btn-warning{
    border-radius: 50px;
}
.nav-link{
    margin: 0 10px ;
}
.navbar-brand{
    font-family: 'Clicker Script', cursive;
    font-size: 3rem;
    font-weight: bolder;
}


/* ------------------firstbody---------------- */
#first-body{
    background-image: url(/images/coffee.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    
}
.mainhead{
    font-family: 'Clicker Script', cursive;
    font-size: 13rem;
    padding-left: 0%;

}
.mainpara{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    padding: 50px 15px 0 0;
}
.ptag{
    padding-right: 700px;
    font-size:1.2rem ;
    text-align: left;
}


/* second body */

.discover{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #603809;
    padding-top: 100px;
    text-align: left;
    

}
.cup{
    margin-top: 30px;
    
}
.stag{
    display: flex;
    text-align: left;
    font-size: 1rem;
    color: #707070;
    margin-top: 50px;
    margin-right: 100px;
    padding-left: 7px;
    /* margin-right: 800px; */
    /* padding-right: 600px; */
}
.lmbyn{
    text-align: left;
}
.blast{
    left: 0px;

}
#second-body{
    background-image: url(/images/coffee_blast.png);
    background-repeat: no-repeat;
    background-position: 0 120%;
}


























@media (max-width:1050px){

.mainhead{
    font-family: 'Clicker Script', cursive;
    font-size: 9.5rem;
    padding-left: 0%;

}
.mainpara{
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    padding: 0 15px 0 0;
}
.ptag{
    padding-right: 0px;
}
#first-body{
    text-align: center;
}
#head{
    text-align: center;
    height: 800px;
}
#second-body{
    background-image: hidden;
}

}

